@page "/counter"
@using HomeInventory.Model
@using HomeInventory.Service
@using HomeInventory.Service.Request
@rendermode InteractiveServer

@inject IStockItemService StockItemService

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @_currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int _currentCount;

    private async void IncrementCount()
    {
        _currentCount++;

        var addStockItemRequest = new AddStockItemRequest(
            Name: "test-item" + _currentCount,
            Sku: new Sku("test" + _currentCount),
            InventoryCount: 1
        );
        await StockItemService.AddStockItem(addStockItemRequest);

        List<StockItem> stockItems = await StockItemService.GetStockItems();
    }

}